@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
}
header{
    width: 100%;
    background-color: brown;
    height: 130px;
}
main{
    width: 100%;
    background-color: rgb(244, 244, 121);
    height: 220px;
    display: flex;
}
footer{
    width: 100%;
    background-color: rgb(5, 49, 87);
    height: 200px ;
}
header div h1{
    color:aliceblue;
    font-size: 40px;
    text-align: center;
    padding: 40px;
    font-family: 'Playfair Display', serif;
}
main .ic{
background-color: rgb(255, 140, 47);
width: 30%;
}
main .mpc{
background-color: rgb(255, 68, 0);
width: 70%;
}
footer{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    font-style: italic;
}